body { background-color: rgb(170, 170, 255);}
#stock {margin-left: 25px;}
.prod {
  display: inline-block;
  background-color: rgb(255, 255, 117);
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  padding-bottom: 0px;
  width: 250px;
  height: 350px;
}
